*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header-contaner {
    background-color: #04425c;
    /* padding: 16px 0 0 0; */
    display: flex;
    justify-content: center ;
}

.header {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-content: baseline;
    /* padding: 4px; */
    /* margin-bottom: 50px; */
}

.logo {
    padding: 4px;
    font-size: 30px;
    color: beige;
    background-color: black;
}

.logo:hover {
    background-color: rgb(1, 26, 43);
}

.links {
    /* border: solid red 2px; */
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: anchor-center;
    gap: 10px;
}

.head-link {
    text-decoration: none;
    border-radius: 20px;
    padding: 1px 9px;
    background-color: #161016;
    color: beige;
    font-size: small;
}

.head-link:hover {
    background-color: rgb(1, 26, 43);
    color: beige;
}

